*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ambulance {
    width: 65px;
    height: 65px;
    background-position: -5px -5px;
}

.sprite-ball {
    width: 58px;
    height: 58px;
    background-position: -80px -5px;
}

.sprite-bowl {
    width: 58px;
    height: 55px;
    background-position: -148px -5px;
}

.sprite-cat {
    width: 54px;
    height: 57px;
    background-position: -148px -70px;
}

.sprite-cat-food {
    width: 45px;
    height: 57px;
    background-position: -5px -137px;
}

.sprite-credit-card-_1_ {
    width: 30px;
    height: 24px;
    background-position: -60px -137px;
    margin-right: 14px;
}

.sprite-envelope {
    width: 40px;
    height: 26px;
    background-position: -100px -137px;
    margin-right: 22px;
}

.sprite-leash {
    width: 65px;
    height: 57px;
    background-position: -150px -137px;
}

.sprite-long-left-arrow {
    width: 15px;
    height: 7px;
    background-position: -5px -204px;
}

.sprite-long-right-arrow {
    width: 15px;
    height: 7px;
    background-position: -30px -204px;
}

.sprite-pills {
    width: 64px;
    height: 57px;
    background-position: -216px -5px;
}

.sprite-pin {
    width: 55px;
    height: 36px;
    background-position: -212px -72px;
    margin-right: 20px;
}

.sprite-pin1 {
    width: 28px;
    height: 36px;
    background-position: -248px -72px;
    margin-right: 20px;
}

.sprite-shampoo {
    width: 30px;
    height: 58px;
    background-position: -225px -118px;
}

.sprite-syringe {
    width: 58px;
    height: 58px;
    background-position: -60px -186px;
}

.sprite-telephone {
    width: 40px;
    height: 32px;
    background-position: -225px -186px;
    margin-right: 22px;
}

.wrapper-header {
    background-color: #000;
    background-image: url("../img/Layer 1.png");
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header {
    width: 1170px;
    padding: 53px 0 269px 0;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.logo__title {
    font-family: Georgia, "Century Schoolbook L", serif;
    color: #f1cdb3;
    font-size: 32px;
    letter-spacing: .06em;
    margin: 0px;
}

.logo__subtitle {
    font-size: 13px;
    line-height: 29px;
    letter-spacing: .11em;
    color: #ffffff;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    margin-left: auto;
}

.menu__item {
    display: inline-block;
    font-size: 15px;
    padding-left: 40px;
}

.menu__link {
    text-decoration: none;
    color: #cdcdcd;
}

.menu__link:visited {
    color: #f1cdb3;
}

.menu__link:hover {
    color: #fff;
    border-bottom: 2px solid #f1cdb3;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
    padding-bottom: 5px;
}

.aside {
    margin-top: 230px;
    max-width: 470px;
}

.aside__title {
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 44px;
    line-height: 57px;
    letter-spacing: .06em;
    color: #ffffff;
}

.aside__text {
    margin: 25px 0 40px 0;
    font-size: 15px;
    line-height: 24px;
    color: #cdcdcd;
}

.button {
    font-family: Georgia, "Century Schoolbook L", serif;
    text-decoration: none;
    display: inline-block;
    color: #292929;
    border-radius: 50px;
    font-size: 17px;
    letter-spacing: .06em;
    text-align: center;
}

.button__make-a-friend {
    background-color: #f1cdb3;
    padding: 16px 44px;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.button__make-a-friend:hover {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.button__make-a-friend:focus {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.wrapper-bgc1 {
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.information__about {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 89px 0;
}

.about__img {
  width: 300px;
  height: auto;
}

.about__wrap {
    width: 430px;
    margin-left: 117px;
}

.title {
    margin: 0;
    color: #545454;
    font-family: Georgia, "Century Schoolbook L", serif;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: .06em;
}

.about__title {
    margin-bottom: 37px;
}

.about__text {
    font-size: 15px;
    line-height: 24px;
    color: #4c4c4c;
}

.wrapper-bgc2 {
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pets__gallery {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 78px 0 68px;
}

.gallery__title {
    text-align: center;
}

.gallery__list {
    margin: 66px 0 58px 0;
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery__item {
    border: 2px solid #fafafa;
    max-width: 270px;
    height: auto;
    border-radius: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fafafa;
    margin-right: 50px;
    padding-bottom: 34px;
}

.gallery__item:nth-child(5) {
    margin-right: 0;
}

.gallery__list .active-item:hover {
    border: 2px solid #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.pet__img {
  width: 270px;
  height: auto;
  margin-bottom: 20px;
}

.pet__name {
    font-family: Georgia, "Century Schoolbook L", serif;
    color: #545454;
    font-size: 20px;
    letter-spacing: .06em;
}

.button__learn-more {
    border: 2px solid #f1cdb3;
    background-color: #fafafa;
    padding: 14px 46px;
    text-transform: capitalize;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    margin-top: 24px;
}

.button__learn-more:hover {
    background-color: #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.button__learn-more:focus {
    background-color: #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.button__rest {
    background-color: #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    padding: 18px 49px;
}

.button__rest:hover {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;  
}

.button__rest:focus {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;  
}

.slider__arrow {
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: #f6f6f6;
  padding: 22px 19px;
  -webkit-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.slider {
    background-color: #f6f6f6;
    border: 0;
}

.slider__arrow:hover {
    background-color: #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.slider__arrow:focus {
    background-color: #f1cdb3;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.help {
    width: 1170px;
    background-color: #fafafa;
    padding: 62px 0 75px 0;
}

.help__title {
    text-align: center;
}

.help__items {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.help__item {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 70px 55px 0;
}

.item__subtitle {
    font-family: Georgia, "Century Schoolbook L", serif;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: .06em;
    color: #545454;
}

.donation {
    width: 1170px;
    padding: 65px 0 68px 10px;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.donation__img {
    width: 505px;
    height: auto;
    margin-left: 10px;
}

.donation__wrap {
    max-width: 365px;
    margin-left: 62px;
}

.donation__title {
    margin-bottom: 25px;
}

.donation__subtitle {
    font-family: Georgia, "Century Schoolbook L", serif;
    color: #545454;
    font-size: 15px;
    letter-spacing: .06em;
}

.credit-card-number {
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f1cdb3;
    margin: 13px 0 15px;
    padding: 12px 13px;
    border-radius: 9px; 
    -webkit-transition: ease-in-out .5s; 
    -o-transition: ease-in-out .5s; 
    transition: ease-in-out .5s;
}

.credit-card-number:hover {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.credit-card-number:focus {
    background-color: #fddcc4;
    -webkit-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.account__number {
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
    color: #292929;
    font-size: 20px;
    letter-spacing: .06em;
}

.donation__text {
    font-style: italic;
    color: #b2b2b2;
    font-size: 12px;
    line-height: 18px;
}

.wrapper-footer {
    background-color: #000;
    background-image: url("../img/Layer 2.png");
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 64px 0 48px;
}

.footer__item {
    max-width: 310px;
    margin-right: 141px;

}

.footer__item-title {
    color: #fff;
}

.contacts-list {
    padding-left: 0;
    list-style: none;
}

.contacts-list__item {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 0 0;
    height: 46px;
}

.email {
    text-decoration: none;
    color: #f1cdb3;
}

.email:visited {
    color: #fff;
}

.email:hover {
    color: #fff;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.item-text {
    font-family: "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
    color: #f1cdb3;
    font-size: 20px;
    letter-spacing: .06em;
}