*, * ::before, * ::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.link {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.menu__link:hover {
	border-bottom: 1px solid #fff;
}

.header__nav {
	background-color: #035de4;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	padding: 0 10px;
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	margin-left: auto;
}

.menu__item {
	display: inline-block;
	padding: 0 10px;
}

.gallery {
	margin: 10px auto;
	width: 1056px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.gallery__img {
	width: 100%;
	height: 100%;
}

.gallery .gallery__item {
	border: 1px solid #000;
	margin: 2px 1px;
	padding: 0px;
	width: 350px;
	height: 250px;
}

.gallery div:nth-child(4) {
	width: 1055px;

}

.gallery div:nth-child(8) {
	width: 1055px;
}

